<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>趣我圈</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>quwoquan_app</string>
	<key>QWQWechatAppID</key>
	<string>$(QWQ_WECHAT_APP_ID)</string>
	<key>QWQWechatUniversalLink</key>
	<string>$(QWQ_WECHAT_UNIVERSAL_LINK)</string>
	<key>QWQQQAppID</key>
	<string>$(QWQ_QQ_APP_ID)</string>
	<key>QWQAlipayCallbackScheme</key>
	<string>$(QWQ_ALIPAY_CALLBACK_SCHEME)</string>
	<key>QWQAliyunPNVSSecretInfo</key>
	<string>$(QWQ_ALIYUN_PNVS_SECRET_INFO)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>wechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(QWQ_WECHAT_APP_ID)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>qq</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent$(QWQ_QQ_APP_ID)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(QWQ_ALIPAY_CALLBACK_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>weixinURLParamsAPI</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>alipay</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>QWQRecoveryBaseURL</key>
	<string>$(QWQ_RECOVERY_BASE_URL)</string>
	<key>QWQPublicWebURL</key>
	<string>$(QWQ_PUBLIC_WEB_URL)</string>
	<key>QWQAppDownloadBaseURL</key>
	<string>$(QWQ_APP_DOWNLOAD_BASE_URL)</string>
	<key>QWQRuntimeEnvironment</key>
	<string>$(QWQ_APP_RUNTIME_ENV)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchTransitionScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).AppSceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>用于拍摄内容以及在视频通话中展示你的画面</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>用于发送语音消息以及进行语音和视频通话</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册以选择图片和视频</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要保存拍摄的图片和视频</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要获取位置以展示附近地点供选择</string>
	<key>NSContactsUsageDescription</key>
	<string>需要访问通讯录以发现已注册趣我圈的联系人</string>
	<key>NSCalendarsUsageDescription</key>
	<string>经你确认后，将日程和提醒写入系统日历</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>经你确认后，将日程和提醒写入系统日历</string>
</dict>
</plist>
